@import "@styles/variables.scss";

.cardContainer {
  padding: 1.5em;
  background-color: $bg-alt-color;
  box-shadow: 3px 4px 10px 1px rgba($sub-color, 0.1);
  border-radius: 6px;
  transition: all 0.75s ease-in-out;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.cardTitle {
  font-family: "Roboto Mono", sans-serif;
}

.cardImageContainer {
  width: 100%;
  margin: 1em 0;
  background-color: black;
  border-radius: 6px;
}

.cardImage {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px;
}

.cardLinkContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.cardLink {
  display: block;
  margin: 0.25em;
  padding: 0.25em;
  background-color: $text-color;
  color: $black-fallback-color;
  width: max-content;
}

.cardLink:hover {
  color: $white-fallback-color;
  background-color: $accent-color;
  transition: all 0.15s ease-out;
}

.cardDescription {
  margin: 0.5em 0.25em 0 0.25em;
}

/* ================ */
/* Flipped Card */
/* ================ */
.cardFlipBtn {
  margin: 1em 0 0 auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cardFlipBtnIcon {
  width: 2em;
  color: $white-fallback-color;
}

.flippedCard {
  transform: rotateY(180deg);
}

.cardFrontFace {
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

.cardBackFace {
  opacity: 1;
  transition: all 0.75s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-1.5em, 1.5em) rotateY(180deg);
  width: 100%;
}

.hiddenFace {
  opacity: 0;
}

/* ================ */
/* Content for Flipped Card */
/* ================ */
.techListHeading {
  color: $white-fallback-color;
  font-family: "Roboto-Mono", sans-serif;
  margin-bottom: 0.5rem;
}
