.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 2em;
}

.link {
  display: flex;
  margin: 0.5em;
}

.link svg {
  width: 1em;
}

.link p {
  margin-left: 0.25em;
}

@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
  }

  .links {
    order: 2;
  }
}
