@import "@styles/variables.scss";

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 2em 2em 2em;
}

.link {
  display: flex;
  margin: 0.5em;
}

.linkEmail {
  position: relative;
}

.linkIcon {
  width: 1em;
  color: $sub-color;
}

.linkText {
  margin-left: 0.25em;
}

.link:hover .linkText,
.link:hover .linkIcon {
  transition: all 0.1s ease-in-out;
  color: $accent-color;
}

@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
  }

  .links {
    order: 2;
  }
}
