@import "@styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  position: sticky;
  top: 0;
  background-color: $bg-alt-color;
  color: $white-fallback-color;
  z-index: 10000;
  font-family: "Roboto Mono", sans-serif;
}

.navlogo {
  font-weight: 700;
  color: $white-fallback-color;
  pointer-events: none;
}

.nav {
  display: flex;
}

.navlink {
  font-weight: 700;
}

.navlink:hover {
  color: $accent-color;
}

.nav > .navlink + .navlink {
  margin-left: 2em;
}
