@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;700&display=swap");
@import "@styles/variables.scss";

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.75em;
  color: $sub-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}

img {
  display: block;
}

svg {
  pointer-events: none;
}
