/* ================ */
/* Intro Components */
/* ================ */
.intro {
  max-width: 50%;
  margin: 0 auto;
}

.introImage {
  aspect-ratio: 1;
  width: 12em;
  height: 12em;
  border-radius: 100%;
  object-fit: cover;
  margin: 2em auto;
}

.introHeader {
  text-align: center;
  font-size: 36px;
}

.introDescription {
  margin-top: 1em;
}

/* ================ */
/* Typing Game Section Components */
/* ================ */
.typingGameSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8em;
  margin-bottom: 12em;
}

.typingGame {
  width: 65%;
}

.timer {
  text-align: left;
  margin-bottom: 0.5em;
}

.timerOption {
  border: none;
  background-color: transparent;
  padding: 0.1em;
  cursor: pointer;
}

.timerOption:hover {
  color: teal;
}

.timerOptionActive {
  color: firebrick;
}

.showResults {
  display: none;
}

/* ================ */
/* Skill Section Components */
/* ================ */
.skillSectionHeader {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.skillSectionDescription {
  margin: 1em auto 0 auto;
  width: 40%;
}

.skillList {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.skill {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  aspect-ratio: 1;
}

.skill svg {
  width: 6em;
}

.skill p {
  margin-top: 0.5em;
  text-align: center;
}

/* ================ */
/* Media Queries */
/* ================ */
@media screen and (max-width: 768px) {
  .intro {
    max-width: 90%;
  }

  .skillSectionDescription {
    width: 75%;
  }

  .typingGameSection {
    flex-direction: column;
  }

  .typingGameInfo {
    margin-bottom: 2em;
  }

  .timer {
    text-align: center;
  }
}
