@import "@styles/variables.scss";

.tooltipContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-35px);
  background-color: $bg-alt-color;
  border-radius: 6px;
  color: $white-fallback-color;
  padding: 0.5em;
  width: max-content;
}
