@import "@styles/variables.scss";

/* ================ */
/* Game Layout */
/* ================ */
.typingGameContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1em;
}

.typingInput {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.wordsContainer {
  width: 100%;
  flex-grow: 1;
  display: inline-flex;
  flex-wrap: wrap;
  pointer-events: none;
}

/* ================ */
/* Blurred Container */
/* ================ */
.outOfFocusWarning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}

.outOfFocusWarningIcon {
  width: 0.75em;
  margin-right: 1em;
  color: $text-color;
}

.outOfFocusWarningText {
  color: $text-color;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
}

.focused {
  display: none;
}

.blurred {
  opacity: 0.3;
  transition: all 0.25s ease 0s;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

/* ================ */
/* Game Components */
/* ================ */
.word {
  margin: 0.15em;
  display: inline-flex;
}

.letter {
  font-size: 1.25em;
  color: $sub-color;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonContainer > button + button {
  margin-left: 0.75em;
}

.gameButton {
  display: block;
  width: 2em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gameButtonIcon {
  color: $sub-color;
}

.gameButton:hover .gameButtonIcon {
  transition: all 0.1s ease-in-out;
  color: $accent-color;
  transform: scale(1.2);
}

.gameButtonSmall {
  width: 1.5em;
}

.typingCursor {
  height: 25px;
  width: 2px;
  background-color: $sub-color;
  opacity: 0.75;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.125s ease;
}

/* ================ */
/* Results Components */
/* ================ */
.resultsInfoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.resultsInfo {
  margin: 2em;
}

.resultsInfoHeader {
  color: $text-color;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

.resultsInfoText {
  color: $sub-color;
}

.resultsButton {
  margin: 0 auto;
}

/* ================ */
/* Media Queries */
/* ================ */
@media screen and (max-width: 768px) {
  .gameButton {
    margin: 0 auto;
  }
}
